<div id="content-button"class="col-md-12" data-no-turbolink>
	<a href="<%= scraping_path %>">
		<button type="button" class="btn btn-warning btn-runscript">Run Scraping (beta)</button>
	</a>
	<a href="#">
		<button type="button" class="btn btn-info btn-runscript">Refresh Page</button>
	</a>
</div>





<!--<h1> Jobs on Rails </h1>

<p><%= @date %></p>
<p><%= @title %></p>
<%= @description %>

<p><%= @count %><p>-->